@import './lib/normalize@3.0.2.css';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 1.25;
  background-color: #FBFBFB;
}

a {
  color: #4c9cff;
  text-decoration: none;
}

h1 {
  font-size: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.container {
  max-width: 740px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -20px;
  margin-left: -20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 480px) {
  .column-50 {
    width: 50%;
  }
}

.box {
  padding: 1em;
  border: 1px solid;
  border-radius: 5px;
  /*border-color: #B300B2;*/
  border-color: #004D00;
}

.box .box {
  border-color: color(#777 tint(70%));
}

.box + .box {
  margin-top: 1em;
}

.compact > *:first-child {
  margin-top: 0 !important;
}

.compact > *:last-child {
  margin-bottom: 0 !important;
}

.flush-bottom {
  margin-bottom: 0 !important;
}

.spacer {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.soft {
  border-radius: 5px;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #777;
}

.text-small {
  font-size: 13px;
}

.text-big {
  font-size: 200%;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.media,
.media-body {
  overflow: hidden;
}

.media-object {
  float: left;
  margin-right: 1em;
}

.icon {
  display: inline-block;
  min-width: 1em;
  font-size: 20px;
  line-height: 1;
  vertical-align: top;
}
