{% from "tpl/macros.html" import stars, flag %}

{% extends "tpl/layout.html" %}

{% block content %}
  <header class="header">
    <div class="container">
      <h1>Sigrið Gyldenkærne Dalsgarð</h1>
      <!-- <img class="picture" src="/img/selfie.jpg" alt="selfie"/> -->
      <ul class='no-bullet'>
        <li><img class="paper-plane" src="/img/paper-plane.svg"> sigriddalsgard@hey.com</p>
      </ul>
    </div>
  </header>

  <main>
    <section title="Landmarks">
      <div class="container compact">
        <h2>Languages</h2>

        <ul class="columns languages">
          <li>Faroese {{ flag("fo") }}<br><small>Native</small></li>
          <li>Danish {{ flag("dk") }}<br><small>Native</small></li>
          <li>English {{ flag("gb") }}<br><small>Fluent</small></li>
        </ul>
      </div>
    </section>

    <section title="Education">
      <div class="container compact">
        <h2>Education</h2>

        <ul class="columns education">
          <li>
            <small>2023 - 2024</small>
            <br>Mathematics
            <br><small><a href="http://bachelor.au.dk/matematik">Aarhus University</a></small>
          </li>
          <li>
            <small>2017 - 2019</small>
            <br>Mathematics
            <br><small><a href="http://ku.dk/">University of Copenhagen</a></small>
          </li>
          <li>
            <small>2014 - 2015</small>
            <br>Softwaredevelopment
            <br><small><a href="http://www.itu.dk/">IT-University of Copenhagen</a></small>
          </li>
          <li>
            <small>2012 - 2014</small>
            <br>Mathematics and Economics
            <br><small><a href="http://ku.dk/">University of Copenhagen</a></small>
          </li>
          <li>
            <small>2013</small>
            <br>NLP Practitioner
            <br><small><a href="http://www.makani.com/en/">Makani Academy</a></small>
          </li>
          <li>
            <small>2008 - 2011</small>
            <br>STX
            <br><small>Faroe Islands</small>
          </li>
        </ul>
      </div>
    </section>

    <section title="projects">
      <div class="container compact new-page">
        <h2>Projects</h2>
        
        <ul class="columns projects">
          <li class="project-link">
            <h3><a href="https://github.com/sigriddalsgard/rock-paper-scissors">Rock/Paper/Scissors</a></h3>
            <p>This was my first encounter with cryptography – and I was instantly hooked.</p>
          </li>
          <li class="project-link">
            <h3><a href="https://github.com/sigriddalsgard/zkp-light">Zero Knowledge Proof Light</a></h3>
            <p>I really enjoyed this project — my first real dive into Zero-Knowledge Proofs. The <a href="https://en.wikipedia.org/wiki/Zero-knowledge_proof#Discrete_log_of_a_given_value">discrete log article</a> took a few reads, but once the Alice & Bob model and the Ali Baba analogy clicked, it all made sense. Cryptography went from abstract to intuitive.</p>
          </li>
          <li class="project-link">
            <h3><a href="https://github.com/sigriddalsgard/crypto-games">Crypto-games</a></h3>
            <h5>Game 1: XOR Decryption</h5>
            <p>I built this project before learning about Kademlia, and the XOR part made perfect sense when I read about it afterwards.</p>
            <h5>Game 2: Proof of Work</h5>
            <p>This taught me the basic idea behind Proof of Work and how it functions.</p>
            <h5>Game 3: Merkle Tree Guess</h5>
            <p>Making a tree in C was challenging, but seeing it come together was an eye-opener. Even though it's just a very simple version.</p>
          </li>
        </ul>
      </div>
    </section>

    <section title="Experience">
      <div class="container compact new-page">
        <h2>Experience</h2>

        <ul class="columns experience">
          <li><img src="/img/Hiddenfjord.svg" alt="Hiddenfjord" height="120"/><br>
            <span class="job">Student-job <br> Data processing in python and vizualisation in ObservableHQ</span>
          </li>
          <li><img src="/img/Aarhus-University.png" alt="Aarhus University" height="120"/><br>
            <span class="job">Student-job <br> Data processing in Strapi including python, json and JavaScript</span>
          </li>
        </ul>
      </div>
    </section>

    <section title="Skills">
      <div class="container compact">
        <h2>Skills</h2>

        <ul class="columns skills">
          <li>C<br>{{ stars(1) }}</li>
          <li>D3.js<br>{{ stars(2) }}</li>
          <li>JavaScript<br>{{ stars(2) }}</li>
          <li>Python<br>{{ stars(2) }}</li>
          <li>R<br>{{ stars(2) }}</li>
          <li>LaTeX<br>{{ stars(4) }}</li>
          <li>Motherhood<br>{{ stars(5) }}</li>
          <li>ObservableHQ<br>{{ stars(1) }}</li>
          <li>HTML<br>{{ stars(2) }}</li>
          <li>Microsoft Office<br>{{ stars(3) }}</li>
          <li>C#<br>{{ stars(1) }}</li>
          <li>SQL<br>{{ stars(2) }}</li>
          <li>CSS<br>{{ stars(2) }}</li>
          <li>Maple<br>{{ stars(2) }}</li>
          <li>java<br>{{ stars(2) }}</li>
          <li>Knitting<br>{{ stars(5) }}</li>
          <li>Excel<br>{{ stars(3) }}</li>
        </ul>
      </div>
    </section>

    <section title="courses">
      <div class="container compact new-page">
        <h2>Courses</h2>
        
        <h3>University of Copenhagen</h3>
        <ul class="columns courses">
          <li>Introduktion til de matematiske fag<br>
            <span class="english">Introduction to the Mathematical Science</span><br>
            <span class="ects">7.5 ects</span>
          </li>

          <li>Diskret matematik<br>
            <span class="english">Discrete Mathematical Methods</span><br>
            <span class="ects">7.5 ects</span>
          </li>

          <li>Introduktion til økonomi<br>
            <span class="english">Introduction to Economics</span><br>
            <span class="ects">7.5 ects</span>
          </li>

          <li>Analyse 0<br>
            <span class="english">Analysis 0</span><br>
            <span class="ects">7.5 ects</span>
          </li>
          
          <li>Analyse 1<br>
            <span class="english">Analysis 1</span><br>
            <span class="ects">7.5 ects</span>
          </li>

          <li>Analyse 2<br>
            <span class="english">Analysis 2</span><br>
            <span class="ects">7.5 ects</span>
          </li>
          
          <li>Geometri 1<br>
            <span class="english">Geometry 1</span><br>
            <span class="ects">7.5 ects</span>
          </li>
          
          <li>Kompleks Funktionsteori<br>
            <span class="english">Complex Analysis</span><br>
            <span class="ects">7.5 ects</span>
          </li>
         
          <li>Lineær Algebra<br>
            <span class="english">Linear Algebra in the Mathematical Sciences</span><br>
            <span class="ects">7.5 ects</span>
          </li>

          <li>Sandsynlighedsregning og statistik<br>
            <span class="english">Probability Theory and Statistics</span><br>
            <span class="ects">7.5 ects</span>
          </li>

          <li>Statistik 1<br>
            <span class="english">Statistics 1 (statistical models/GLM)</span><br>
            <span class="ects">7.5 ects</span>
          </li>

          <li>Statistik 2<br>
            <span class="english">Statistics 2 (multi-factor/random effects)</span><br>
            <span class="ects">7.5 ects</span>
          </li>

          <li>Videregående statistik<br>
            <span class="english">Advanced Statistics (practical/SAS)</span><br>
            <span class="ects">7.5 ects</span>
          </li>

          <li>Videnskabsteori for matematiske fag<br>
            <span class="english">Theory of the Mathematical Sciences</span><br>
            <span class="ects">7.5 ects</span>
          </li>
          
          <li>Mål og integralteori<br>
            <span class="english">Measures and Integrals</span><br>
            <span class="ects">7.5 ects</span>
          </li>
        </ul>

        <h3>Aarhus University</h3>
        <ul class="columns courses">
          <li>Videregående sandsynlighedsteori<br>
            <span class="english">Advanced Probability Theory</span><br>
            <span class="ects">10 ects</span>
          </li>
          
            <li>Multivariat Statistisk Analyse<br>
              <span class="english">Multivariate Statistical Analysis</span><br>
              <span class="ects">10 ects</span>
          </li>
        </ul>

        <h3>IT-University of Copenhagen</h3>
        <ul class="columns courses">
          <li>Grundlæggende Programmering - Java<br>
            <span class="english">Introduction to Programming - Java</span><br>
            <span class="ects">15 ects</span>
          </li>
          
          <li>Projektarbejde og kommunikation<br>
            <span class="english">Project and communication</span><br>
            <span class="ects">7.5 ects</span>
          </li>

          <li>Diskret matematik<br>
            <span class="english">Discrete Mathematics</span><br>
            <span class="ects">7.5 ects</span>
          </li>
          
          <li>Systematisk design af brugergrænseflader<br>
            <span class="english">Systematic design of user interfaces</span><br>
            <span class="ects">7.5 ects</span>
          </li>

          <li>1. års projekt - Java<br>
            <span class="english">1st year project</span><br>
            <span class="ects">15 ects</span></li>
        </ul>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="container">
      Copyright &copy; Sigrið Gyldenkærne Dalsgarð
    </div>
  </footer>
{% endblock %}
